@font-face {
  font-family: "Lacoste-Thin";
  src: url("Lacoste-Thin.woff"),
       url("Lacoste-Thin.woff2");
}
@font-face {
  font-family: "Lacoste-Light";
  src: url("Lacoste-Light.woff"),
       url("Lacoste-Light.woff2");
}
@font-face {
  font-family: "Lacoste-Regular";
  src: url("Lacoste-Regular.woff"),
       url("Lacoste-Regular.woff2");
}
@font-face {
  font-family: "Lacoste-Medium";
  src: url("Lacoste-Medium.woff"),
       url("Lacoste-Medium.woff2");
}
@font-face {
  font-family: "Lacoste-Bold";
  src: url("Lacoste-Bold.woff"),
       url("Lacoste-Bold.woff2");
}
@font-face {
  font-family: "Lacoste-ExtraBold";
  src: url("Lacoste-ExtraBold.woff"),
       url("Lacoste-ExtraBold.woff2");
}
@font-face {
  font-family: "Lacoste-Black";
  src: url("Lacoste-Black.woff"),
       url("Lacoste-Black.woff2");
}
@font-face {
  font-family: "Lacoste-Heavy";
  src: url("Lacoste-Heavy.woff"),
       url("Lacoste-Heavy.woff2");
}
@font-face {
  font-family: "Lacoste-Thin-Italic";
  src: url("Lacoste-ThinItalic.woff"),
       url("Lacoste-ThinItalic.woff2");
}
@font-face {
  font-family: "Lacoste-Light-Italic";
  src: url("Lacoste-LightItalic.woff"),
       url("Lacoste-LightItalic.woff2");
}
@font-face {
  font-family: "Lacoste-Regular-Italic";
  src: url("Lacoste-Italic.woff"),
       url("Lacoste-Italic.woff2");
}
@font-face {
  font-family: "Lacoste-Medium-Italic";
  src: url("Lacoste-MediumItalic.woff"),
       url("Lacoste-MediumItalic.woff2");
}
@font-face {
  font-family: "Lacoste-Bold-Italic";
  src: url("Lacoste-BoldItalic.woff"),
       url("Lacoste-BoldItalic.woff2");
}
@font-face {
  font-family: "Lacoste-ExtraBold-Italic";
  src: url("Lacoste-ExtraBoldItalic.woff"),
       url("Lacoste-ExtraBoldItalic.woff2");
}
@font-face {
  font-family: "Lacoste-Black-Italic";
  src: url("Lacoste-BlackItalic.woff"),
       url("Lacoste-BlackItalic.woff2");
}
@font-face {
  font-family: "Lacoste-Heavy-Italic";
  src: url("Lacoste-HeavyItalic.woff"),
       url("Lacoste-HeavyItalic.woff2");
}
